/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    .header-top {
        display: none;
    }

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    /* Header Area */
    .header-area {
        padding-top: 0;
        background-image: none;
        background-color: #fff;

    }

    .header-top {
        display: none;
    }

    .header-area .header-bottom img {
        display: none;
        visibility: hidden;
    }

    .mobile-menu {
        display: block;
        margin-bottom: 75px;
    }

    /* Dashbaord Feature Area */
    .dashboard-feature .dashboard-feature-image {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .dashboard-feature .dashboard-feature-image img{
        max-width: 520px;
    }

    /* Customer Service Area */
    .customer-service .customer-service-image img {
        max-width: 520px;
    }

    /* CTA Area */
    .cta-area h2{
        text-align: center;
        margin-bottom: 30px;
    }

}


/* small mobile :320px. */
@media (max-width: 767px) {

    /* Header Area */
    .common-btn {
        padding: 10px 14px;
    }

    .header-area {
        padding-top: 0;
        background-image: none;
        background-color: #fff;
        height: 85vh;
    }

    .header-area .header-bottom h1 {
        font-size: 42px;
    }

    .header-top {
        display: none;
    }

    .header-area .header-bottom img {
        display: none;
        visibility: hidden;
    }

    .header-area .header-bottom form input[type="submit"] {
        top: 20%;
    }

    .mobile-menu {
        margin-bottom: 75px;
        display: block;
    }

    /* App Features Area */
    .app-features {
        padding: 50px 15px;
    }

    .app-features .app-feature-content h2 {
        font-size: 32px;
    }

    .app-features .single-feature {
        padding: 40px;
    }

    /* Dashbaord Feature Area */
    .dashboard-features {
        padding: 50px 15px;
    }

    .dashboard-feature .dashboard-feature-content h2 {
        font-size: 32px;
    }

    .dashboard-feature .dashboard-feature-image {
        margin-right: 0;
        margin-bottom: 30px;
    }

    /* Dashboard Feature Part Two */
    .dashboard-features-two {
        padding: 50px 15px;
    }

     /* Customer Service Area */
     .customer-services {
        padding: 50px 15px;
    }
    
    .customer-service .customer-service-image{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .customer-service .customer-service-content h2{
        font-size: 36px;
    }
    .customer-service .customer-service-content h2 br{
        display: none;
    }

    /* CTA Area */
    .cta-area h2{
        text-align: center;
        margin-bottom: 30px;
        font-size: 36px;
    }

    /* Footer Area */
    .footer-area{
        padding: 50px 15px;
    }
    .footer-area .footer-bottom p{
        margin-bottom: 0!important;
    }
    
    .footer-area .footer-bottom .call{
        text-align: left;
        margin-top: -15px;
        margin-bottom: -15px;
    }
    .footer-area .footer-bottom .call a{
        font-size: 22px;
    }
    .footer-area .footer-nav-items h2{
        margin: 20px 0;
    }

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 450px;
    }

    /* Header Area */
    .header-area {
        padding-top: 0;
        padding: 0 15px;
        height: 80vh;
    }

    .header-area .header-bottom h1 {
        font-size: 42px;
    }

    .header-top {
        display: none;
    }

    .header-area .header-bottom img {
        display: none;
        visibility: hidden;
    }

    .mobile-menu {
        display: block;
        margin-bottom: 75px;
    }

    /* App Features Area */
    .app-features {
        padding: 50px 15px;
    }

    /* Dashbaord Feature Area */
    .dashboard-features {
        padding: 50px 15px;
    }


}